* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1517px;
    margin: 0px auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 27px;
    margin-bottom: 60px;
}

a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 500;
    color: #000000;
}

h1 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 96px;
    line-height: 155px;
}

h2 {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 400;
}

h3 {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

h4 {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
}

img {
    max-width: 100%;
    display: inline-block;
}

p {
    font-family: "Poppins";
    font-size: 16px;
}

.heading-underline {
    padding-bottom: 10px;
    border-bottom: 1px dashed #FFAE5D;
    margin-bottom: 30px;
}

.signin {
    display: flex;
}

.signin p {
    font-weight: 600;
}

.signin-img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.signin-img img {
    width: 100%;
    object-fit: contain;
}

.header-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.header-con {
    border-bottom: 1px solid #808080;
    margin-bottom: 20px;
}


/* Banner  */

.location-search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.location-btn {
    background-image: url("../Images/Location.png");
    background-repeat: no-repeat;
    background-size: auto;
    margin-right: 672px;
    background-position: left 16px center;
    padding: 16px 16px 16px 45px;
    background-color: #FFAE5D;
    border-radius: 20px;
}
.cart-btn{
    padding: 16px 32px;
    background-color: #FFAE5D;
    border-radius: 20px;
}
#searchBox {
    caret-color: black;
    animation: blinkCaret 1s step-end infinite;
    margin-right: 14px;
}

input {
    border: 1px solid #808080;
    width: 622px;
    line-height: 56px;
    border-radius: 20px;
    background-image: url("../Images/Search-Icon.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right 20px center;
    resize: none;
    overflow: hidden;
    padding: 0px 50px 0px 16px;
    /* Same padding for normal & focus */
    caret-color: transparent;
    /* Hide blink initially */
    font-family: "Poppins";
    font-size: 16px;
}

textarea:focus {
    caret-color: black;
    /* Show blink only when clicked */
    outline: none;
}

textarea::placeholder {
    color: #808080;
}

textarea:focus::placeholder {
    color: transparent;
}


.banner nav ul {
    gap: 27px;
}

nav ul li a {
    color: #808080;
}

.text-offerdeals {
    display: flex;
}

.light-txt {
    font-weight: 400;
}

.yellow-color-txt {
    color: #FFAE5D;
}

.bann-lft {
    max-width: 548px;
    flex: 0 0 548px;
    margin-right: 115px;
}

.offers {
    max-width: 878px;
    flex: 0 0 878px;
    margin-bottom: 60px;
}

.offer-deal-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -27px;
}

.item-individual {
    max-width: 100%;
    flex: 0 0 calc(100%/3 - 54px);
    margin: 10px 27px 0px 27px;
}



.item-individual h4 {
    max-width: 236px;
    margin-bottom: 5px;
}

.item-individual p {
    margin-bottom: 10px;
}

.item-img {
    margin-bottom: 5px;
    width: 236px;
}

.banner-img {
    width: 1517px;
    margin-bottom: 60px;
}

.banner-img img {
    width: 100%;
    object-fit: cover;
}

.items-display {
    display: flex;
    margin: 0px -23px;
    flex-wrap: wrap;
}

.items-display .item-individual {
    max-width: 100%;
    flex: 0 0 calc(100%/5 - 46px);
    margin: 0px 23px;
    margin-bottom: 30px;
}

span {
    font-family: "Poppins";
    font-size: 16px;
}

.price {
    margin-right: 80px;
}

.price-offer {
    color: red;
}

.your-searched-items {
    padding: 60px 0px 0px;
}

.your-searched-items .items-display {
    margin-bottom: 60px;
}

.your-searched-items .banner-img {
    margin-bottom: 30px;
}

.deals-on-furniture {
    padding: 30px 0px 60px;
}

.review-prod-lst {
    display: flex;
    margin: 0 -9.5px;
    flex-wrap: wrap;
}

.review-proc-itm {
    display: flex;
    border: 1px solid;
    border-radius: 20px;
    /* padding: 46px 21px 44px 61px; */
    flex: 0 0 calc(100% /2 - 19px);
    max-width: 100%;
    margin: 0 9.5px 20px 0;
    justify-content: space-between;
    align-items: center;
}

/* .review-proc-itm:nth-child(2n) {
margin-right: 0; 
} */
.product-img {
    flex: 0 0 238px;
    max-width: 238px;
    padding: 46px 0 44px 61px;

}

.product-details {
    max-width: 306px;
    flex: 0 0 306px;
    padding: 0 21px 0 0;
}

.product-details h3 {
    margin-bottom: 15px;
}

.ratings {
    display: flex;
    align-items: center;
    gap: 5.4px;
}

.ratings p {
    color: #FFAE5D;
}
nav {
    display: flex;
    justify-content: center;
}
header nav ul{
    gap:175px;
}


footer {
    background-color: #808080;
    padding: 76px 0px;
}

.footer-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-con nav ul li a {
    color: #fff;
}

.footer-con h2 {
    color: #fff;
}

.footer-con nav ul {
    margin-bottom: 0px;
}



.banner-offer-txt {
    position: relative;
    display: inline-block;
    /* So absolute positioning works inside */
}

.offer-text-img {
    position: absolute;
    top: 50%;
    /* vertical position */
    left: 50%;
    /* horizontal position */
    transform: translate(-50%, -50%);
    /* center it perfectly */
}




.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 15px;
    background-color: #040404;
}

.menu-toggle span {
    background: white;
    height: 3px;
    margin: 4px 0;
    width: 25px;
}

footer nav {
    margin-right: 20px;
}





nav ul li a.active {
  color: #f1c40f;   /* yellow highlight */
  font-weight: bold;
  border-bottom: 2px solid #f1c40f;
}
.no-results {
  text-align: center;
  font-size: 1.5rem;
  color: #888;
  margin-top: 50px;
  font-weight: 500;
}
