@media screen and (max-width:1919px) {
    .container {
        width: 1420px;
    }

    .offers .item-individual:nth-child(3n) {
        margin-right: 0px;
    }

    header nav ul {
        gap: 151px;
    }

    .offers h3 {
        max-width: 97%;
    }

    .bann-lft {
        max-width: 514px;
        flex: 0 0 514px;
        margin-right: 64px;
    }

    .location-btn {
        margin-right: 679px;
    }

    h1 {

        font-size: 69px;
        line-height: 90px;
    }

    .offers {
        max-width: 858px;
        flex: 0 0 858px;
        margin-bottom: 60px;
    }

    .banner-img {
        width: 1420px;
        margin-bottom: 60px;
    }

    .location-btn {
        margin-right: 587px;
    }

    h1 {
        font-size: 92px;
        line-height: 158px;
    }
}

@media screen and (max-width:1599px) {
    .container {
        width: 1280px;
    }

    header nav ul {
        gap: 145px;
    }

    .offers h3 {
        max-width: 93%;
    }

    .bann-lft {
        max-width: 498px;
        flex: 0 0 498px;
        margin-right: 230px;
    }

    .offers .item-individual:nth-child(3n) {
        margin-right: 27px;
    }

    .items-display .item-individual {
        max-width: 100%;
        flex: 0 0 calc(100%/5 - 46px);
        margin: 0px 47px;
        margin-bottom: 30px;
    }

    .bann-lft {
        max-width: 498px;
        flex: 0 0 498px;
        margin-right: 88px;
    }

    h1 {
        font-size: 56px;
        line-height: 66px;
    }

    .offers {
        max-width: 750px;
        flex: 0 0 750px;
        margin-bottom: 60px;
    }

    .price {
        margin-right: 68px;
    }

    .banner-img {
        width: 1280px;
        margin-bottom: 60px;
    }

    .item-individual {
        max-width: 100%;
        flex: 0 0 calc(100%/2 - 54px);
        margin: 10px 27px 0px 27px;
    }

    .item-img {
        width: 202px;
    }

    .location-btn {
        margin-right: 437px;
    }

    h1 {
        font-size: 92px;
        line-height: 200px;
    }
}

@media screen and (max-width:1439px) {
    .container {
        width: 1240px;
    }

    .offers h3 {
        max-width: 97%;
    }


    .banner-img {
        width: 1240px;
    }

    header nav ul {
        gap: 117px;
        margin-bottom: 36px;
    }

    h1 {
        font-size: 47px;
        line-height: 56px;
    }

    .bann-lft {
        max-width: 498px;
        flex: 0 0 498px;
        margin-right: 17px;
    }

    .offers {
        max-width: 726px;
        flex: 0 0 726px;


        margin-bottom: 60px;
    }

    .location-btn {
        margin-right: 393px;
    }

    h1 {
        font-size: 92px;
        line-height: 200px;
    }

}

@media screen and (max-width:1349px) {
    .container {
        width: 1140px;
    }

    header nav ul {
        gap: 94px;
    }

    a {
        font-size: 14px;
    }

    .banner-img {
        width: 1140px;
    }

    input {
        border: 1px solid #808080;
        width: 622px;
        line-height: 51px;
        border-radius: 20px;
        background-image: url("../Images/Search-Icon.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: right 20px center;
        resize: none;
        overflow: hidden;
        padding: 0px 50px 0px 16px;
        caret-color: transparent;
        font-family: "Poppins";
        font-size: 16px;
    }

    h1 {
        font-size: 43px;
        line-height: 50px;
    }

    .bann-lft {
        max-width: 450px;
        flex: 0 0 450px;
        margin-right: 17px;
    }

    .offers {
        max-width: 676px;
        flex: 0 0 676px;
        margin-bottom: 60px;
    }

    .price {
        margin-right: 29px;
    }

    .location-btn {
        margin-right: 317px;
    }

    h1 {
        font-size: 92px;
        line-height: 197px;
    }

}

@media screen and (max-width:1199px) {
    .container {
        width: 950px;
    }

    header nav ul {
        gap: 80px;
    }


    .offers h3 {
        max-width: 80%;
    }

    a {
        font-size: 13px;
    }

    .bann-lft {
        max-width: 400px;
        flex: 0 0 400px;
    }

    h1 {
        font-size: 38px;
        line-height: 43px;
    }

    .offers {
        max-width: 432px;
        flex: 0 0 432px;
    }

    .banner-img {
        width: 950px;
    }

    h1 {
        font-size: 92px;
        line-height: 175px;
    }

    .items-display .item-individual:nth-child(5n) {
        margin-right: 0px;
    }

    .banner-img {
        margin-bottom: 24px;
    }

    .your-searched-items .items-display {
        margin-bottom: 24px;
    }

    .your-searched-items {
        padding: 24px 0px 0px;
    }

    .deals-on-furniture {
        padding: 24px 0px 24px;
    }

    .price {
        margin-right: 24px;
    }

    .today-hot-deals .price,
    .deals-on-furniture .price {
        margin-right: 34px;
    }

    .item-individual {
        flex: 0 0 calc(100%/3 - 54px);
    }

    .review-proc-itm:nth-child(2n) {
        margin-right: 0px;
    }

    .product-img {
        flex: 0 0 191px;
        max-width: 191px;
        padding: 16px 0 44px 20px;
    }

    .product-details {
        max-width: 284px;
        flex: 0 0 284px;
        padding: 0 21px 0 0;
    }

    .product-details h3 {
        margin-bottom: 15px;
    }

    p {
        font-family: "Poppins";
        font-size: 12px;
    }

    .item-img {
        width: 155px;
    }

    .bann-lft {
        margin-right: 120px;
    }

    .location-btn {
        margin-right: 140px;
    }

}

@media screen and (max-width:991px) {
    .container {
        width: 750px;
    }

    .product-img {
        flex: 0 0 149px;
        max-width: 149px;
        padding: 16px 0 16px 20px;
    }

    .offers h3 {
        max-width: 98%;
    }

    .product-details {
        max-width: 228px;
        flex: 0 0 228px;
        padding: 0 21px 0 0;
    }

    .text-offerdeals {
        display: block;
        /* flex-direction: column; */
    }

    .bann-lft {
        margin: 0px auto;
        text-align: center;
        max-width: 100%;
        flex: 0 0 100%;
    }


    .offers {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .offers .item-individual:nth-child(3n) {
        margin-right: 27px;
    }

    h3 {
        font-family: "Poppins";
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .product-details h3 {
        margin-bottom: 15px;
        margin-left: 48px;
    }

    .banner-img {
        width: 750px;
    }


    input {

        width: 395px;
    }

    header nav ul {
        gap: 52px;
    }



    .bann-lft {
        max-width: 324px;
        flex: 0 0 324px;
    }

    .banner-img {
        width: 750px;
    }

    .product-img {
        flex: 0 0 149px;
        max-width: 149px;
        padding: 16px 0 16px 20px;
    }

    .product-details {
        max-width: 228px;
        flex: 0 0 228px;
        padding: 0 21px 0 0;
    }

    .product-details h3 {
        margin-bottom: 15px;
        margin-left: 48px;
    }

    .product-details p {
        margin-left: 48px;

    }

    .offers .item-individual:nth-child(3n) {
        margin-right: 0px;
    }

    .offer-deal-items {
        margin: 0px;
    }

    .items-display {

        margin: 0px;
    }

    .item-img {
        width: 156px;
    }

    .location-btn {
        margin-right: 164px;
    }

    h1 {
        font-size: 75px;
        line-height: 70px;
    }
}

@media screen and (max-width:767px) {
    .container {
        width: 100%;
    }

    .heading-underline {

        margin-bottom: 30px;
        max-width: 95%;
        margin-left: 3%;
    }

    .banner-img {
        width: 100%;
    }

    .text-offerdeals {
        display: block;
        /* flex-direction: column; */
    }

    .bann-lft {
        margin: 0px auto;
        text-align: center;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .offers {
        max-width: 100%;
        flex: 0 0 404px;
    }



    .text-offerdeals {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .offers .item-individual:nth-child(3n) {
        margin-right: 58px;
    }


    input {
        line-height: 32px;

    }

    input {
        width: 181px;
    }

    .product-details p {
        margin-left: 48px;
    }

    .product-details {
        max-width: 217px;
        flex: 0 0 217px;
        padding: 0 21px 0 0;
    }

    a {
        font-size: 11px;
    }

    .review-proc-itm:nth-child(2n) {
        margin-right: 9.5px;
    }

    .items-display .item-individual:nth-child(5n) {
        margin-right: 28px;
    }

    footer {
        width: 101%;
    }

    .menu-toggle {
        display: flex;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    header nav ul li {
        text-align: center;
        border-top: 1px solid #444;
    }

    header nav ul.show {
        display: flex;
    }

    .review-proc-itm:nth-child(2n) {
        margin-right: 0px;
    }

    .review-prod-lst {
        margin: 0px 0px 0px 16px;

    }

    .items-display .item-individual {

        flex: 0 0 calc(100%/3 - 46px);
    }

    .review-proc-itm {
        flex: 0 0 calc(100% /1 - 19px);
    }

    .item-img {
        margin-bottom: 5px;
        width: 125px;
    }

    .items-display .item-individual {
        margin: 15px 22px;
    }

    .item-individual {
        margin: 0px 86px;
    }

    .offers .item-individual:nth-child(3n) {
        margin-right: 86px;
    }

    .location-btn {
        margin-right: 270px;
    }

    input {
        width: 265px;
    }

    h1 {
        font-size: 59px;
        line-height: 70px;
    }
}

@media screen and (max-width:710px) {
    .item-individual {
        margin: 0px 76px;
    }

    .offers .item-individual:nth-child(3n) {
        margin-right: 76px;
    }

    .location-btn {
        margin-right: 217px;
    }
}

@media screen and (max-width:650px) {
    .item-individual {
        margin: 0px 70px;
    }

    .offers .item-individual:nth-child(3n) {
        margin-right: 70px;
    }


    .location-btn {
        margin-right: 163px;
    }
}

@media screen and (max-width:600px) {
    .container {
        width: 100%;
    }

    .location-btn {
        margin-right: 107px;
    }

    h1 {
        font-size: 53px;
        line-height: 54px;
    }

}

@media screen and (max-width:550px) {
    .item-individual {
        margin: 0px 54px;
    }

    .offers .item-individual:nth-child(3n) {
        margin-right: 54px;
    }


    .container {
        width: 100%;
    }

    .items-display .item-individual {
        margin: 15px 17px;
    }

    .location-btn {
        margin-right: 82px;
    }
}

@media screen and (max-width:520px) {
    .container {
        width: 100%;
    }

    .location-btn {
        margin-right: 50px;
    }

    input {
        width: 245px;
    }

    .items-display .item-individual {
        margin: 16px 13px;
    }
}

@media screen and (max-width:479px) {
    .container {
        width: 100%;
    }

    .items-display .item-individual {
        margin: 15px 16px;
    }


    .review-prod-lst {
        margin: 0px 14px 0px 12px;
    }

    .offers .item-individual:nth-child(3n) {
        margin-right: 27px;
    }




    .offers h3 {
        max-width: 100%;
    }

    .item-img {
        margin-bottom: 5px;
        width: 88px;
    }

    .location-btn {
        background-position: left 12px center;
        padding: 8px 16px 8px 38px;
    }

    .location-btn {
        margin-right: 121px;
    }

    .item-individual {
        flex: 0 0 calc(100%/2 - 54px);
        margin: 0px 27px;
    }

    span {

        font-size: 15px;
    }

    .items-display {
        margin: 0px 0px 0px 36px;
    }

    .location-btn {
        margin-right: 70px;
    }

    input {
        width: 194px;
    }
}


@media screen and (max-width:450px) {
    .container {
        width: 100%;
    }

    .location-btn {
        margin-right: 62px;
    }
}

@media screen and (max-width:425px) {
    .container {
        width: 100%;
    }

    .offer-deal-items .item-individual:nth-child(2n) {
        margin-left: 27px;
    }


    .items-display {
        margin: 0px 0px 0px 27px;
    }

    .item-individual {
        flex: 0 0 calc(100%/2 - 54px);
        margin: 0px 27px;
    }

    .items-display .item-individual {
        margin: 10px 44px;
    }

    span {

        font-size: 12px;
    }

    .product-details h3,
    .product-details p {
        margin-left: 22px;
    }

    .items-display .item-individual:nth-child(3n) {
        margin-right: 28px;
    }

    input {
        width: 125px;
    }

    a {
        font-size: 11px;
    }

    .cart-btn {
        padding: 9px 23px;
        background-color: #FFAE5D;
        border-radius: 20px;
    }

    .location-btn {
        margin-right: 84px;
    }

    .items-display {
        margin: 0px 0px 0px 22px;
    }

    h1 {
        font-size: 39px;
        line-height: 38px;
    }

    
}